
.mainContainer {
  width: 100%;
  height: 100%;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.itemContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.imageContainer,
.itemInfo,
.navBar {
  width: 95%;
}

.description,
.foodPairing {
  padding: 0 20% 0 20px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 10px;
  justify-content: space-around;
  background-color: #15151f;
}

.imageContainer {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
  background-color: #100f1a;
}

.navBar {
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #1a1a1a;
}

.image {
  position: absolute;
  height: 46vh;
  right: -22px;
  top: 0;
}

.name,
.tagline {
  letter-spacing: 1px;
  padding-left: 20px;
}

.imageChildContainer {
  height: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 25px;
  margin: 10px 0;
  text-transform: uppercase;
  font-family: 'Ruda', sans-serif;
  color: rgb(238, 255, 0);
}

/* media query to change the grid into a 50/50 one */

@media (min-width: 768px) {
  .imageContainer,
  .itemInfo {
    width: 47%;
  }

  .itemInfo,
  .itemContainer {
    height: 70vh;
  }

  .itemContainer {
    width: 95%;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .imageChildContainer,
  .imageContainer {
    height: 100%;
  }

  .imageContainer {
    position: initial;
  }

  .image {
    position: initial;
    height: 80%;
  }

  .description,
  .foodPairing,
  .imageChildContainer {
    padding: 0 10px;
  }

  .imgInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    font-size: 35px;
  }

  .name,
  .tagline {
    padding: 0;
    text-align: center;
  }

  .tagline {
    font-size: 25px;
  }

  .navBar {
    width: 92%;
  }
}

@media (min-width: 800px) {
  .description,
  .tagline,
  .foodPairing > div {
    font-size: 2vw;
  }
}
