
.mainContainer {
  width: 350px;
  position: relative;
  max-height: 600px;
  display: flex;
  border: 0.5px solid #20202c;
  border-radius: 25px;
  -webkit-box-shadow: 5px 2px 11px -1px rgba(32, 32, 44, 1);
  -moz-box-shadow: 5px 2px 11px -1px rgba(32, 32, 44, 1);
  box-shadow: 5px 2px 11px -1px rgba(32, 32, 44, 1);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #15151f;
  margin: 15px;
  padding: 40px 15px;
}

.image {
  width: 30px;
  height: 100px;
  margin-bottom: 15px;
}

.name,
.abv,
.tagline {
  width: 100%;
  font-size: 15px;
  display: flex;
  margin: 5px;
  color: white;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.abv {
  width: 100%;
  display: flex;
  font-size: 25px;
}

.category {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
}

.tagline > span {
  color: #20202c;
  background-color: rgb(238, 255, 0);
  border-radius: 5px;
  padding: 0 5px;
}

/* media for increasing fonts for beer elements between mobile and tablet */

@media (min-width: 500px) and (max-width: 767px) {
  .mainContainer {
    width: 100%;
  }

  .name {
    font-size: 30px;
  }

  .abv {
    font-size: 35px;
  }

  .tagline {
    font-size: 25px;
  }
}
